html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.header .cell {
	font-weight: bold;
}

.table {
	display: flex;
	flex-direction: column;
	background-color: #9ba1aa;
	width: 50%;
}

.row {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	background-color: #9ba1aa;
	width: 100%;

}

.cell {
	flex-basis: 10%;
	background-color: #656e7c;
}
